*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bilder/contactme.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.hero-text {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.hero-text h1 {
    font-size: 50px;
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    .hero-text h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*----- Contact -----*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
@media(max-width:700px){
    .contact{
        width: 100%;
    }
}

/*----- Footer -----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: black;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    transition: 0.5s;
}

/*----- Contact Page -----*/
.row{
    display: flex;
    justify-content: space-between; /* Sorgt für Abstand zwischen den Spalten */
    align-items: start; /* Ausrichtung am Anfang der Kreuzachse */
}
.contact-col{
    flex-basis: 48%; /* Gibt jeder Spalte eine Basisbreite von 48% */
    margin-bottom: 30px; /* Optional: Abstand nach unten */
}
.contact-me{
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 100px 0;
}
.contact-me h1{
    margin-bottom: 40px;
    text-align: left;
    padding: 20px;
    font-size: 36px;
}
.contact-col div{
    display: flex;
    align-items: left;
    margin-bottom: 80px;
}
.contact-col div .fa{
    font-size: 28px;
    margin: 10px;
    color: #f44336;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}